/* For Index Page */

main {
    display: block;
    width: 100%;
}

.main-content {
    position: relative;
    display: block;

    .vertical-center {
        top: 50%;
        transform: translateY(-50%);
    }

    .page-title {
        font-size: 3.5em;
        font-weight: 300;
    }

    p {
        font-size: 1.2em;
        letter-spacing: 0.035em;
        padding: 8px 0 2em;
    }

    .social-nav {

        li {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;

            &+li { margin-left: 18px; }

            a {
                display: inline-block;
                padding: 5px 8px;
                color: rgba(255,255,255,0.8);
                text-align: center;
                text-decoration: none;
                border-radius: 3px;
                border: 1px solid rgba(255,255,255,0.8);
                transition: all 0.2s ease-out 0s;

                &:hover {
                    text-decoration: none;
                    background-color: rgba(255,255,255,0.125);
                }

                /*&.twitter {
                    background-color: #00aced;
                    &:hover {
                        background-color: #0087ba;
                    }
                }

                &.facebook {
                    background-color: #3B5998;
                    &:hover {
                        background-color: #133170;
                    }
                }

                &.youtube {
                    background-color: #B00;
                    &:hover {
                        background-color: #930000;
                    }
                }

                &.github {
                    background-color: #4183C4;
                    &:hover {
                        background-color: #195B9C;
                    }
                }

                &.codepen {
                    background-color: #2a2627;
                    &:hover {
                        background-color: #0f0d0e;
                    }
                }*/
            }
        }

        .text { padding-left: 8px; }
    }

    @include respond ($tablet) {
        padding: 3em 0;

        .vertical-center {
            position: static;
            width: 100%;
            top: 0px;
            transform: none;
        }

        .page-title {
            font-size: 2.5em;
            text-align: center;
        }
        p {
            font-size: 1em;
            text-align: center;
        }

        .social-nav {
            li {
                display: block;
                width: 100%;
                float: none;
                padding: 0;

                &+li { margin-left: 0; }

                a {
                    display: block;
                    padding: 12px 0;
                    border: 0;
                    border-radius: 0;
                    border-top: 1px solid rgba(0,0,0,0.2);
                }

                &:last-child a { border-bottom: 1px solid rgba(0,0,0,0.2); }
            }
        }
    }
}
