// For Variables

// Colours
$pink: #eb008b;
$light-grey: #F5F5F5;
$text-color: #424242;

$red: #ff7461;
$blue: #79bedb;
$green: #81c676;
$yellow: #f4cf77;
$dark-blue: #337AB7;

$default-primary-color: #3F51B5;
$dark-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$text-primary-color: #FFFFFF;
$accent-color: #448AFF;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;

$body-bg-color: $dark-primary-color;

$rainbow-bg-1: $body-bg-color;
$rainbow-bg-2: #df6f4a;
$rainbow-bg-3: $green;
$rainbow-bg-4: #1bbc9b;
$rainbow-bg-5: #9945ba;
